body {
  background-color: black;
  position: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#btn {
  z-index: 10;
}
.controls {
  color: rgb(255, 255, 255);
  display: none;
  flex-direction: column;
  position: absolute;
  left: 80%;
  top: 20%;
  z-index: 20;
}
label {
  background-color: brown;
  border-radius: 2em;
  text-align: center;
}
